body,
div {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
body {
  color: #333;
  background: #333;
}
.input-styles {
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px transparent solid;
  padding: 4px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  transition: all 500ms;
}
.input-styles:focus {
  border-color: #81AADA;
}
#player {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.table-container {
  display: table;
  width: 100%;
}
.table-container .table-row {
  display: table-row;
}
.table-container .table-row .table-cell {
  display: table-cell;
}
#sidebar {
  top: 0;
  left: -320px;
  transition: left 600ms ease-out;
  width: 320px;
  height: 100vh;
  position: absolute;
  z-index: 200;
  background: #f5f5f5;
  border-right: #eee;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
#sidebar .current-video {
  display: none;
}
#sidebar .tabs {
  margin-bottom: 10px;
}
#sidebar .tabs .tab {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: all 300ms;
}
#sidebar .tabs .tab:hover {
  background: #40aded;
  color: #fff;
}
#sidebar .video-list-wrapper {
  overflow: auto;
  height: 100%;
}
#sidebar input {
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px transparent solid;
  padding: 4px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  transition: all 500ms;
  width: 95%;
  margin: 8px auto;
  display: block;
}
#sidebar input:focus {
  border-color: #81AADA;
}
#sidebar .edit,
#sidebar .tag-edit {
  position: absolute;
  top: 0px;
  right: 0;
  opacity: 0.2;
  background: #f5f5f5;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
#sidebar .edit:hover,
#sidebar .tag-edit:hover {
  opacity: 1;
}
#sidebar a.video {
  display: block;
  text-decoration: none;
  color: #333;
  margin: 15px;
  position: relative;
  word-break: break-all;
}
#sidebar a.video[filter-hidden=true] {
  display: none;
}
#sidebar .handle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  margin-top: calc(50vh - 15px);
  right: -45px;
  position: absolute;
  font-family: monospace;
  background: rgba(245, 245, 245, 0.8);
  opacity: 0.2;
  text-align: center;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  box-shadow: -2px -1px 2px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
}
#sidebar .handle:hover {
  opacity: 1;
}
#sidebar .empty-tags {
  margin: 10px 0;
  line-height: 1.4;
}
#sidebar .tag-list {
  padding: 35px 10px;
  cursor: pointer;
}
#sidebar .tag-list .video-tag {
  margin: 10px 0;
  position: relative;
  line-height: 1.3;
  display: block;
  text-decoration: none;
  color: #333;
}
#sidebar .tag-list .video-tag > * {
  vertical-align: middle;
}
#sidebar .tag-list .video-tag .tag-time {
  background: #eee;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 0.8em;
}
#sidebar .tag-list .video-tag .tag-name {
  word-break: break-all;
}
#sidebar .tag-list .video-tag .tag-name a {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sidebar .tag-list .video-tag:hover .tag-time {
  background: #d1e1ed;
}
#sidebar .tag-list .playing .tag-time {
  background: #b1dd96;
}
.video-tag-shown #sidebar .all-videos {
  display: none;
}
.video-tag-shown #sidebar .current-video {
  display: block;
}
.sidebar-shown #player {
  left: 320px;
  width: calc(100vw - 320px);
}
.sidebar-shown #sidebar {
  left: 0;
}
.sidebar-shown .handle {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}
.vex-content .vex-dialog-message {
  word-break: break-all;
}
.vex-content .vex-dialog-form .vex-dialog-input input[type="text"] {
  box-shadow: none;
  border-width: 1px;
}
.vex-content .row {
  margin: 20px 0;
}
.vex-content .row label {
  margin: 0 0 10px;
  display: inline-block;
}
.vex-content .row a.vex-dialog-button {
  text-decoration: none;
  margin-bottom: 10px;
}
.vex-content input[type="text"] {
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px transparent solid;
  padding: 4px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  transition: all 500ms;
}
.vex-content input[type="text"]:focus {
  border-color: #81AADA;
}
.button-styles {
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.75em 2em;
  background: #e0e0e0;
  color: #777;
  cursor: pointer;
  transition: all 300ms;
}
.button-styles:hover {
  background: #ccc;
}
.video-button {
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.75em 2em;
  background: #e0e0e0;
  color: #777;
  cursor: pointer;
  transition: all 300ms;
  margin-right: 10px;
}
.video-button:hover {
  background: #ccc;
}
